{
  "openapi": "3.1.0",
  "info": {
    "title": "HeyOtto Chat API",
    "version": "0.1.0",
    "description": "OpenAI-compatible Chat Completions and Conversations for HeyOtto. Authenticate with a consumer API key (`ak_â€¦`) minted in settings. Errors use the OpenAI JSON envelope (`{ error: { message, type, param, code } }`), not RFC 9457."
  },
  "servers": [
    {
      "url": "https://api.chat.heyotto.app"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "OpenAI-compatible chat completions. Ottoâ€™s server system prompt is the only system context."
    },
    {
      "name": "Conversations",
      "description": "OpenAI Conversations CRUD plus items. `GET /v1/conversations` is a HeyOtto list of `source = api` threads. Adding items does not run Otto â€” continue with `POST /v1/chat/completions`."
    },
    {
      "name": "Models",
      "description": "Available models. `heyotto` is the fleet-default alias; catalog ids are also listed."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Consumer API key (`ak_â€¦`) minted in HeyOtto settings."
      }
    },
    "schemas": {
      "OpenAIError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Human-readable explanation of what went wrong.",
                "example": "Missing or invalid API key. Pass `Authorization: Bearer <key>`."
              },
              "type": {
                "type": "string",
                "description": "OpenAI error class. Branch on this plus `code`.",
                "example": "authentication_error"
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Request field that failed validation, when applicable.",
                "example": "messages"
              },
              "code": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Stable machine-readable code, or null.",
                "example": "invalid_api_key"
              }
            },
            "required": [
              "message",
              "type",
              "param",
              "code"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "ChatCompletion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Completion id (`chatcmpl-` + uuidv7).",
            "example": "chatcmpl-01k8example"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ]
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp (seconds)."
          },
          "model": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "heyotto"
                ]
              },
              {
                "type": "string",
                "enum": [
                  "claude-opus-5",
                  "claude-opus-4-8",
                  "claude-opus-4-7",
                  "claude-opus-4-6",
                  "claude-opus-4-5",
                  "claude-sonnet-5",
                  "claude-sonnet-4-6",
                  "claude-sonnet-4-5",
                  "claude-haiku-4-5",
                  "gpt-4o",
                  "gpt-4o-mini",
                  "grok-4.20-reasoning",
                  "grok-4.20-non-reasoning",
                  "grok-4.3"
                ]
              }
            ],
            "description": "`heyotto` uses the fleet default chat model. Any other value must be a catalog id from `GET /v1/models`. Gateway slugs are not accepted.",
            "example": "heyotto"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            },
            "minItems": 1
          },
          "usage": {
            "$ref": "#/components/schemas/ChatCompletionUsage"
          },
          "conversation_id": {
            "type": "string",
            "description": "HeyOtto conversation id. Echoed so the client can continue after a create."
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ]
      },
      "ChatCompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "minimum": 0
          },
          "message": {
            "$ref": "#/components/schemas/ChatCompletionMessage"
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "stop"
            ]
          }
        },
        "required": [
          "index",
          "message",
          "finish_reason"
        ]
      },
      "ChatCompletionMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ]
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "ChatCompletionUsage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "completion_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "total_tokens": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "prompt_tokens",
          "completion_tokens",
          "total_tokens"
        ]
      },
      "ChatCompletionChunk": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion.chunk"
            ]
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "heyotto"
                ]
              },
              {
                "type": "string",
                "enum": [
                  "claude-opus-5",
                  "claude-opus-4-8",
                  "claude-opus-4-7",
                  "claude-opus-4-6",
                  "claude-opus-4-5",
                  "claude-sonnet-5",
                  "claude-sonnet-4-6",
                  "claude-sonnet-4-5",
                  "claude-haiku-4-5",
                  "gpt-4o",
                  "gpt-4o-mini",
                  "grok-4.20-reasoning",
                  "grok-4.20-non-reasoning",
                  "grok-4.3"
                ]
              }
            ],
            "description": "`heyotto` uses the fleet default chat model. Any other value must be a catalog id from `GET /v1/models`. Gateway slugs are not accepted.",
            "example": "heyotto"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChunkChoice"
            },
            "minItems": 1
          },
          "conversation_id": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ]
      },
      "ChatCompletionChunkChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "minimum": 0
          },
          "delta": {
            "$ref": "#/components/schemas/ChatCompletionChunkDelta"
          },
          "finish_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "stop"
            ]
          }
        },
        "required": [
          "index",
          "delta",
          "finish_reason"
        ]
      },
      "ChatCompletionChunkDelta": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ]
          },
          "content": {
            "type": "string"
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "heyotto"
                ]
              },
              {
                "type": "string",
                "enum": [
                  "claude-opus-5",
                  "claude-opus-4-8",
                  "claude-opus-4-7",
                  "claude-opus-4-6",
                  "claude-opus-4-5",
                  "claude-sonnet-5",
                  "claude-sonnet-4-6",
                  "claude-sonnet-4-5",
                  "claude-haiku-4-5",
                  "gpt-4o",
                  "gpt-4o-mini",
                  "grok-4.20-reasoning",
                  "grok-4.20-non-reasoning",
                  "grok-4.3"
                ]
              }
            ],
            "description": "`heyotto` uses the fleet default chat model. Any other value must be a catalog id from `GET /v1/models`. Gateway slugs are not accepted.",
            "example": "heyotto"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "minItems": 1,
            "description": "Model context for this call (OpenAI-stateless). `role: system` is rejected (`invalid_request_error`, `param: messages`)."
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "When true, the response is `text/event-stream` with OpenAI `chat.completion.chunk` frames ending in `data: [DONE]`."
          },
          "conversation_id": {
            "type": "string",
            "minLength": 1,
            "description": "HeyOtto conversation to continue. Omitted creates a new conversation. Echoed on the JSON response."
          },
          "heyotto": {
            "$ref": "#/components/schemas/HeyOttoRequestExtension"
          },
          "temperature": {
            "type": "number",
            "description": "Accepted for SDK compatibility; ignored. The server uses Ottoâ€™s configured sampling for the selected model. (`temperature`)"
          },
          "top_p": {
            "type": "number",
            "description": "Accepted for SDK compatibility; ignored. The server uses Ottoâ€™s configured sampling for the selected model. (`top_p`)"
          },
          "max_tokens": {
            "type": "number",
            "description": "Accepted for SDK compatibility; ignored. The server uses Ottoâ€™s configured sampling for the selected model. (`max_tokens`)"
          },
          "n": {
            "type": "number",
            "description": "Accepted for SDK compatibility; ignored. The server uses Ottoâ€™s configured sampling for the selected model. (`n`)"
          },
          "tools": {
            "description": "Not supported. Requests that include `tools` are rejected with 400 (`invalid_request_error`, `param: tools`)."
          },
          "functions": {
            "description": "Not supported. Requests that include `functions` are rejected with 400 (`invalid_request_error`, `param: functions`)."
          },
          "tool_choice": {
            "description": "Not supported. Requests that include `tool_choice` are rejected with 400 (`invalid_request_error`, `param: tool_choice`)."
          },
          "response_format": {
            "description": "Not supported. Requests that include `response_format` are rejected with 400 (`invalid_request_error`, `param: response_format`)."
          }
        },
        "required": [
          "model",
          "messages"
        ],
        "example": {
          "model": "heyotto",
          "messages": [
            {
              "role": "user",
              "content": "Hello"
            }
          ],
          "stream": true
        }
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "description": "Client messages may be `user` or `assistant` only. `role: system` is rejected."
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChatMessageContentPart"
                },
                "minItems": 1
              }
            ],
            "description": "Plain text, or an array of `{ type: \"text\", text }` parts."
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "ChatMessageContentPart": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ]
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "text"
        ]
      },
      "HeyOttoRequestExtension": {
        "type": "object",
        "properties": {
          "conversation_id": {
            "type": "string",
            "minLength": 1,
            "description": "Conversation id to continue. Same meaning as top-level `conversation_id`."
          }
        },
        "description": "HeyOtto-specific fields. Prefer top-level `conversation_id` when the SDK allows extra properties."
      },
      "ConversationList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conversation"
            }
          },
          "first_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "data",
          "first_id",
          "last_id",
          "has_more"
        ]
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "conversation"
            ]
          },
          "created_at": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              }
            },
            "required": [
              "title"
            ]
          }
        },
        "required": [
          "id",
          "object",
          "created_at",
          "metadata"
        ]
      },
      "CreateConversationRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ConversationMetadata"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationItemCreate"
            },
            "maxItems": 20
          }
        }
      },
      "ConversationMetadata": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        },
        "additionalProperties": {
          "type": "string",
          "maxLength": 512
        }
      },
      "ConversationItemCreate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "message"
            ],
            "default": "message"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ]
          },
          "content": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "input_text",
                        "output_text"
                      ]
                    },
                    "text": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                },
                "minItems": 1
              }
            ]
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "UpdateConversationRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ConversationMetadata"
          }
        }
      },
      "ConversationDeleted": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "conversation.deleted"
            ]
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "object",
          "deleted"
        ]
      },
      "ConversationItemList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationItem"
            }
          },
          "first_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "object",
          "data",
          "first_id",
          "last_id",
          "has_more"
        ]
      },
      "ConversationItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "message"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "completed"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationItemContentPart"
            },
            "minItems": 1
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "role",
          "content"
        ]
      },
      "ConversationItemContentPart": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "input_text",
              "output_text"
            ]
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "text"
        ]
      },
      "CreateConversationItemsRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationItemCreate"
            },
            "minItems": 1,
            "maxItems": 20
          }
        },
        "required": [
          "items"
        ]
      },
      "ConversationItemDeleted": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "conversation.item.deleted"
            ]
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "object",
          "deleted"
        ]
      },
      "ModelList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        },
        "required": [
          "object",
          "data"
        ]
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "heyotto"
                ]
              },
              {
                "type": "string",
                "enum": [
                  "claude-opus-5",
                  "claude-opus-4-8",
                  "claude-opus-4-7",
                  "claude-opus-4-6",
                  "claude-opus-4-5",
                  "claude-sonnet-5",
                  "claude-sonnet-4-6",
                  "claude-sonnet-4-5",
                  "claude-haiku-4-5",
                  "gpt-4o",
                  "gpt-4o-mini",
                  "grok-4.20-reasoning",
                  "grok-4.20-non-reasoning",
                  "grok-4.3"
                ]
              }
            ],
            "description": "`heyotto` uses the fleet default chat model. Any other value must be a catalog id from `GET /v1/models`. Gateway slugs are not accepted.",
            "example": "heyotto"
          },
          "object": {
            "type": "string",
            "enum": [
              "model"
            ]
          },
          "created": {
            "type": "integer"
          },
          "owned_by": {
            "type": "string",
            "enum": [
              "heyotto"
            ]
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "owned_by"
        ]
      },
      "TopBotRecipe": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "TopBot 3 spinning-top recipe",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "toyType",
          "experimentalEnabled",
          "outlineStyle",
          "outlineAmount",
          "alienStyle",
          "alienAmount",
          "complexity",
          "designSeed",
          "bodyTheme",
          "themeAmount",
          "themeSize",
          "bodyDiameter",
          "bodyHeight",
          "stemHeight",
          "stemDiameter",
          "tipLength",
          "rimStyle",
          "rimPattern",
          "rimSweep",
          "armSpiral",
          "armReach",
          "bodyCrownStyle",
          "bodyCrownSize",
          "bodyCrownHeight",
          "bodyCrownLobes",
          "bodyCrownTwist",
          "handleStyle",
          "pommelStyle",
          "hubStyle",
          "hubHeight",
          "hubDepth",
          "hubLobes",
          "hubTwist",
          "lobes",
          "waveDepth",
          "rimLift",
          "secondaryLobes",
          "twist",
          "handleTwist",
          "handleFins",
          "handleFlare",
          "holes",
          "holeSize",
          "topperStyle",
          "topperHeight",
          "topperWidth",
          "topperFeatures",
          "topperTwist",
          "topperRelief",
          "color"
        ],
        "properties": {
          "toyType": {
            "type": "string",
            "enum": [
              "top"
            ]
          },
          "experimentalEnabled": {
            "type": "boolean"
          },
          "outlineStyle": {
            "type": "string",
            "enum": [
              "round",
              "flower",
              "starfish",
              "octopus",
              "gear",
              "sun",
              "snowflake",
              "amoeba",
              "spiral",
              "shell",
              "manta",
              "whaleTail",
              "fish",
              "shark",
              "butterfly",
              "bat",
              "leaf",
              "maple",
              "ginkgo",
              "strawberry",
              "heart",
              "shield",
              "rocket",
              "comet",
              "crystal"
            ]
          },
          "outlineAmount": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "alienStyle": {
            "type": "string",
            "enum": [
              "none",
              "orbitalWaves",
              "coiledRibs",
              "eyePetals"
            ]
          },
          "alienAmount": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "complexity": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "designSeed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "bodyTheme": {
            "type": "string",
            "enum": [
              "none",
              "coral",
              "scales",
              "bubbles",
              "armour",
              "craters",
              "mushrooms"
            ]
          },
          "themeAmount": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          },
          "themeSize": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          },
          "bodyDiameter": {
            "type": "number",
            "minimum": 25,
            "maximum": 65
          },
          "bodyHeight": {
            "type": "number",
            "minimum": 8,
            "maximum": 30
          },
          "stemHeight": {
            "type": "number",
            "minimum": 8,
            "maximum": 34
          },
          "stemDiameter": {
            "type": "number",
            "minimum": 5,
            "maximum": 12
          },
          "tipLength": {
            "type": "number",
            "minimum": 3,
            "maximum": 12
          },
          "rimStyle": {
            "type": "string",
            "enum": [
              "smooth",
              "wavy",
              "scalloped",
              "spiky",
              "organic",
              "petal",
              "enchanted",
              "crystal"
            ]
          },
          "rimPattern": {
            "type": "string",
            "enum": [
              "radial",
              "turbine",
              "hooked",
              "comet",
              "claw"
            ]
          },
          "rimSweep": {
            "type": "number",
            "minimum": -10,
            "maximum": 10
          },
          "armSpiral": {
            "type": "number",
            "minimum": -12,
            "maximum": 12
          },
          "armReach": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          },
          "bodyCrownStyle": {
            "type": "string",
            "enum": [
              "none",
              "jewelled",
              "tiara",
              "petals",
              "crystal",
              "runes"
            ]
          },
          "bodyCrownSize": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          },
          "bodyCrownHeight": {
            "type": "number",
            "minimum": 0,
            "maximum": 8
          },
          "bodyCrownLobes": {
            "type": "integer",
            "minimum": 3,
            "maximum": 18
          },
          "bodyCrownTwist": {
            "type": "number",
            "minimum": -10,
            "maximum": 10
          },
          "handleStyle": {
            "type": "string",
            "enum": [
              "lighthouse",
              "strawberry",
              "castle",
              "crystal",
              "pawn",
              "straight",
              "flared",
              "mushroom",
              "twisted",
              "crown",
              "spire",
              "chalice",
              "vine",
              "winged"
            ]
          },
          "pommelStyle": {
            "type": "string",
            "enum": [
              "simple",
              "orb",
              "crystal",
              "flame",
              "crown"
            ]
          },
          "hubStyle": {
            "type": "string",
            "enum": [
              "smooth",
              "crown",
              "petal",
              "gear",
              "crystal",
              "halo"
            ]
          },
          "hubHeight": {
            "type": "number",
            "minimum": 0,
            "maximum": 12
          },
          "hubDepth": {
            "type": "number",
            "minimum": 0,
            "maximum": 8
          },
          "hubLobes": {
            "type": "integer",
            "minimum": 3,
            "maximum": 16
          },
          "hubTwist": {
            "type": "number",
            "minimum": -10,
            "maximum": 10
          },
          "lobes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 16
          },
          "waveDepth": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          },
          "rimLift": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          },
          "secondaryLobes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 24
          },
          "twist": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          },
          "handleTwist": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          },
          "handleFins": {
            "type": "integer",
            "minimum": 0,
            "maximum": 12
          },
          "handleFlare": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          },
          "holes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          },
          "holeSize": {
            "type": "number",
            "minimum": 2,
            "maximum": 7
          },
          "topperStyle": {
            "type": "string",
            "enum": [
              "none",
              "dolphinTail",
              "tentacle",
              "trident",
              "coral",
              "skull",
              "cyclops",
              "mushroom",
              "robot",
              "ghost",
              "crystal"
            ]
          },
          "topperHeight": {
            "type": "number",
            "minimum": 14,
            "maximum": 34
          },
          "topperWidth": {
            "type": "number",
            "minimum": 10,
            "maximum": 25
          },
          "topperFeatures": {
            "type": "integer",
            "minimum": 3,
            "maximum": 12
          },
          "topperTwist": {
            "type": "number",
            "minimum": -10,
            "maximum": 10
          },
          "topperRelief": {
            "type": "number",
            "minimum": 0,
            "maximum": 7
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          },
          "material": {
            "type": "string",
            "enum": [
              "white",
              "pastelRainbow",
              "vividRainbow"
            ]
          },
          "rainbowPhase": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "paint": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "strokes"
            ],
            "properties": {
              "strokes": {
                "type": "array",
                "maxItems": 1500,
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "p",
                    "size",
                    "color"
                  ],
                  "properties": {
                    "p": {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "minimum": -150,
                        "maximum": 150
                      },
                      "minItems": 3,
                      "maxItems": 3
                    },
                    "size": {
                      "type": "number",
                      "minimum": 0.5,
                      "maximum": 12
                    },
                    "color": {
                      "type": "string",
                      "pattern": "^#[0-9a-fA-F]{6}$"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/chat/completions": {
      "post": {
        "operationId": "chat.completions",
        "tags": [
          "Chat"
        ],
        "summary": "Create a chat completion",
        "description": "OpenAI-compatible Chat Completions. `model` is `heyotto` (fleet default) or a catalog id from `GET /v1/models`. Client `role: system` messages, `tools`, `functions`, `tool_choice`, and `response_format` are rejected (`invalid_request_error`). Omit `conversation_id` to create a conversation; pass it to continue. Echoed on the JSON response. `stream: true` returns `text/event-stream` with `chat.completion.chunk` frames ending in `data: [DONE]`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A `chat.completion` object, or (when `stream` is true) SSE `chat.completion.chunk` frames ending in `[DONE]`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletion"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                }
              }
            }
          },
          "400": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "409": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      }
    },
    "/conversations": {
      "get": {
        "operationId": "conversations.list",
        "tags": [
          "Conversations"
        ],
        "summary": "List conversations",
        "description": "HeyOtto extension (OpenAI has no list-all). Returns `source = api` conversations for this key, newest first. Page with `after` (a conversation id), `limit` (1â€“100, default 20), and `order` (`asc` | `desc`).",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "description": "Number of objects to return (1â€“100). Default 20."
            },
            "required": false,
            "description": "Number of objects to return (1â€“100). Default 20.",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Cursor object id. Returns the next page after this id in `order`."
            },
            "required": false,
            "description": "Cursor object id. Returns the next page after this id in `order`.",
            "name": "after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "Sort by `created_at`. Default `desc` (newest first)."
            },
            "required": false,
            "description": "Sort by `created_at`. Default `desc` (newest first).",
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of conversation objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationList"
                }
              }
            }
          },
          "400": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "conversations.create",
        "tags": [
          "Conversations"
        ],
        "summary": "Create a conversation",
        "description": "Creates a personal API conversation (UI-locked). Optional `metadata.title` and up to 20 initial `message` items. Items are stored only â€” they do not trigger a completion. Continue the thread with `POST /v1/chat/completions` and `conversation_id`.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created conversation object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_id}": {
      "get": {
        "operationId": "conversations.retrieve",
        "tags": [
          "Conversations"
        ],
        "summary": "Retrieve a conversation",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Conversation id (UUIDv7)."
            },
            "required": true,
            "description": "Conversation id (UUIDv7).",
            "name": "conversation_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The conversation object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "conversations.update",
        "tags": [
          "Conversations"
        ],
        "summary": "Update a conversation",
        "description": "Updates `metadata.title`. Other metadata keys are accepted and ignored.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Conversation id (UUIDv7)."
            },
            "required": true,
            "description": "Conversation id (UUIDv7).",
            "name": "conversation_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated conversation object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "conversations.delete",
        "tags": [
          "Conversations"
        ],
        "summary": "Delete a conversation",
        "description": "Deletes an API-created conversation owned by this key. Child-scoped keys soft-delete so parents can still review and restore in the family UI. Parent- and observer-scoped keys permanently delete (no restore UI for those threads). App-sourced conversations 404.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Conversation id (UUIDv7)."
            },
            "required": true,
            "description": "Conversation id (UUIDv7).",
            "name": "conversation_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A `conversation.deleted` object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationDeleted"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_id}/items": {
      "get": {
        "operationId": "conversations.items.list",
        "tags": [
          "Conversations"
        ],
        "summary": "List conversation items",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Conversation id (UUIDv7)."
            },
            "required": true,
            "description": "Conversation id (UUIDv7).",
            "name": "conversation_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "description": "Number of objects to return (1â€“100). Default 20."
            },
            "required": false,
            "description": "Number of objects to return (1â€“100). Default 20.",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Cursor object id. Returns the next page after this id in `order`."
            },
            "required": false,
            "description": "Cursor object id. Returns the next page after this id in `order`.",
            "name": "after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "Sort by `created_at`. Default `desc` (newest first)."
            },
            "required": false,
            "description": "Sort by `created_at`. Default `desc` (newest first).",
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of conversation items (message objects).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItemList"
                }
              }
            }
          },
          "400": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "conversations.items.create",
        "tags": [
          "Conversations"
        ],
        "summary": "Create conversation items",
        "description": "Appends 1â€“20 `message` items. Does not run a completion. `role: system` is rejected. Use `POST /v1/chat/completions` with `conversation_id` to generate a reply.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Conversation id (UUIDv7)."
            },
            "required": true,
            "description": "Conversation id (UUIDv7).",
            "name": "conversation_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created items as a list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItemList"
                }
              }
            }
          },
          "400": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_id}/items/{item_id}": {
      "get": {
        "operationId": "conversations.items.retrieve",
        "tags": [
          "Conversations"
        ],
        "summary": "Retrieve a conversation item",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "conversation_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Item id (the persisted chat message UUID)."
            },
            "required": true,
            "description": "Item id (the persisted chat message UUID).",
            "name": "item_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The conversation item.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItem"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "conversations.items.delete",
        "tags": [
          "Conversations"
        ],
        "summary": "Delete a conversation item",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "conversation_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Item id (the persisted chat message UUID)."
            },
            "required": true,
            "description": "Item id (the persisted chat message UUID).",
            "name": "item_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A `conversation.item.deleted` object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItemDeleted"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "404": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "operationId": "models.list",
        "tags": [
          "Models"
        ],
        "summary": "List models",
        "description": "Returns the models available to this key. `heyotto` is the fleet-default alias; the rest are catalog ids accepted by `POST /v1/chat/completions`. `GET /v1/models/{id}` is not implemented.",
        "responses": {
          "200": {
            "description": "A list containing the `heyotto` alias and every catalog chat model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelList"
                }
              }
            }
          },
          "401": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "403": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "429": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          },
          "500": {
            "description": "OpenAI error envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}